# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

.env
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*-checkpoint.ipynb

# ignore notebook scratch data
notebooks/data/
